/.dep/
/.settings/
/out/
/SRC/*.lst
/SRC/*.o
/SRC/CORE/*.lst
/SRC/CORE/*.o
/SRC/RTOS/*.lst
/SRC/RTOS/*.o
/SRC/STDLIB/*.lst
/SRC/STDLIB/*.o
*.exe
*.dmp
*.map
*.o
*.lst
*.elf
*.hex
*.bat
.project
.cproject
